

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#home, #about-me, #shop, #info {
  padding-left: 100px; /* Отступ от левого края */
 
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #333;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  padding: 14px 20px;
}

.navbar ul li a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
}

.navbar ul li a:hover {
  background-color: #ddd;
  color: black;
}

.section {
  padding: 60px 20px;
  background-color: #F8F3EB;
  height: 100vh; /* Высота секции на весь экран */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Выравнивание по левому краю */
  padding-left: 100px; /* Отступ от левого края */
  position: relative; /* Обязательно для абсолютной позиции изображения */
}

h1 {
  margin: 0; /* Удалить любой внешний отступ */
  font-size: 65px; /* Увеличение размера шрифта h1 в два раза */
}

.text-container {
  display: flex;
  align-items: center;
  margin-top: 5px; /* Небольшой отступ между заголовком и текстом */
  padding-left: 90px;
}

.logo {
  width: 41px;
  height: 41px;
  margin-right: 10px;
  border-radius: 50%; /* Расстояние между логотипом и текстом */
}

p {
  margin: 0; /* Удалить любой внешний отступ */
  font-size: 2em; /* Увеличение размера шрифта h1 в два раза */
}

.leather-tool {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 500px;
}



.pageHeader-container {
  position: absolute;
  top: 0px; /* Расположение 40 пикселей от верхнего края */
  left: 80px; /* Отступ от левого края */
}

.profile_photo {
  position: absolute;
  left: 80px; /* Отступ 80 пикселей от левого края */
  top: 50%; /* Вертикальное центрирование */
  transform: translateY(-50%);
  width: 340px;
  height: 450px;
}

.aboutProject {
  position: absolute;
  left: 52%;
  transform: translateX(-50%);
  width: 35%; /* Ширина текста */
  font-size: 1em; /* Уменьшение размера шрифта в два раза */
}

.wallet {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 350px;
  height: 350px;
}

#shop {
  background-color: #d0d0d0;
}
